body {
  font-family: 'museo sans';
  padding: 4em;
  background-color: white;
  color: #484848;
}

h1, h2 {
  font-family: 'bree';
  margin-top: 2em;
}

h1:first-child {
  margin-top: 1em;
}

.definitions {
  margin-top: 4em;
}

dt {
  font-weight: bold;
}

ul {
  width: 30em;
}

li {
  margin-bottom: .6em;
}

a {
  text-decoration: none;
  color: #CC7A6F;
}

script[type="text/jsx"] {
  margin-top: 4em;
  display: block;
  white-space: pre;
  font-family: courier;
  background-color: beige;
  padding: 1.6em;
}

.headline {
  font-weight: bold;
}

#example {
  border: 1px solid #484848;
  padding: 1.6em;
  margin-top: 4em;
}

#index_link {
  position: absolute;
  top: 1em;
}
